<div class="row">
    <div class="col-12 col-sm-3">
      <div class="info-box bg-light">
        <div class="info-box-content" >
          <span class="info-box-text text-center text-muted">Nghỉ Phép TP chưa duyệt</span>
          <span class="info-box-number text-center text-muted mb-0">{{xp.xp_tp_cd}}</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3">
      <div class="info-box bg-light" >
        <div class="info-box-content" >
          <span class="info-box-text text-center text-muted">Nghỉ Phép SẾP chưa duyệt</span>
          <span class="info-box-number text-center text-muted mb-0">4</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3">
      <div class="info-box bg-light">
        <div class="info-box-content" >
          <span class="info-box-text text-center text-muted">Nghỉ Phép Đã chưa duyệt</span>
          <span class="info-box-number text-center text-muted mb-0">20</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3">
        <div class="info-box bg-light">
          <div class="info-box-content">
            <span class="info-box-text text-center text-muted" style="color: white ;">Nghỉ Phép Đã Hủy </span>
            <span class="info-box-number text-center text-muted mb-0">20</span>
          </div>
        </div>
      </div>
  </div>