{% extends 'base.html'%}
{%load static%}
{%block form-xinphep%}

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      {%include 'xinphep/header/header_xinphep.html'%}
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">

      <div id="form-xin-phep">

      </div>

      

    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-6">
                  <h3 class="card-title">
                    <p id="header_xinphep"> </p>
                  </h3>
                </div>
                <div class="col-3"><select class="form-control select2bs4" data-placeholder="Chọn Tháng "
                    style="width: 100%;">
                    <option>
                      Chọn tháng để xem </option>
                    {% for i in 123456789111|make_list %}
                    <option value={{ forloop.counter }}>
                      Tháng {{forloop.counter }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-3">


                  <select class="form-control select2bs4" style="width: 100%;">

                    <option value="2019"> 2019</option>
                    <option value="2020"> 2020</option>
                    <option selected value="2021"> 2021</option>
                    <option value="2022"> 2022</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body text-center">
              <div class="table-responsive">
                <table class="table table-bordered">
                   <thead>
                  <tr>
                    <th>Họ Và Tên</th>
                    <th>Ngày Xin Nghỉ</th>
                    <th>Ngày Làm Lại </th>
                    <th>Lý Do </th>
                    <th>Liên lạc khẩn </th>
                    <th>Tình Trạng Duyệt</th>
                    <th> Action</th>
                  </tr>
                </thead>
                <tbody id="xin-phep-hh">

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</div>

<script>
  $(document).ready(function () {
    $.ajax({

      url: "{% url 'load-xin-nghi-phep-da-duyet' %}",

      success: function (data) {
        $("#xin-phep-hh").html(data);

      }

    });
  });
  function donnghiphep() {
    $('#button-xp').hide()

    $.ajax({
      url: "{% url 'load-xin-phep' %}",

      success: function (data) {
        $("#form-xin-phep").html(data);

      }

    });
  }
</script>


<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{%endblock%}