{% for item in xinphep %}
<tr>

    <td>{{item.nhanvien}}</td>
    <td>{{item.ngaynghi|date:"d - m - y"}}</td>
    <td>{{item.ngaylamlai|date:"d - m - y"}}</td>
    <td>{{item.lydo}}</td>
    <td>{{item.lienlac}}</td>
    <td>
       
        <a class="btn btn-success btn-sm "> đã duyệt
        </a>

    </td>
    <td>
        <div class="btn-group btn-group-sm">
            {% csrf_token %}
            <a id="view-{{item.id}}" class="btn btn-info"><i class="fas fa-eye"></i></a>
            
        </div>
    </td>

</tr>
<script>
    $('#view-{{item.id}}').click(this, function () {
        $('#button-xp').hide()
        $.ajax({
            type: 'GET',
            url: "{% url 'load-view-xin-phep' %}",
            data: {

                'id-xp': '{{item.id}}',
            },
            success: function (data) {
                $("#form-xin-phep").html(data);

            }

        });
        $("html, body").animate({ scrollTop: 0 }, "slow");


    });

    $('#delete-{{item.id}}').click(this, function () {

        $.ajax({
            type: 'POST',
            url: "{% url 'load-delete-xin-phep' %}",
            data: {
                'csrfmiddlewaretoken': $("input[name*='csrfmiddlewaretoken']").val(),
                'id_xp': '{{item.id}}',
            },
            success: function (data) {
                $("#xin-phep").html(data);

            }

        });
        $("html, body").animate({ scrollTop: 0 }, "slow");


    });
</script>
{% endfor %}