{%extends 'base.html' %}
<!-- Content Wrapper. Contains page content -->
{% block content1%}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Trang Chủ</a></li>
            <li class="breadcrumb-item active">index</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      {%if bhcasper.xem == True%}
      {%include 'barcodecasper/header.html'%}
      {%endif%}
      {%if qlns_nhanvien.xem == True%}
      <div class="card card-outline card-warning">
        <div class="card-header">
          <h3 class="card-title">NHÂN VIÊN</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row auto-clear">
            <div class="col-md-1 " style="border-bottom-width: 2px;margin-bottom: 15px;"><a
                class="btn btn-bg btn-warning  form-control" href="{% url 'profile'%}"> Hồ Sơ</a></div>
            <div class="col-md-2 " style="border-bottom-width: 2px;margin-bottom: 15px;"><a
                class="btn btn-bg btn-warning form-control" href="{% url 'thong-bao'%}"> Thông Báo <i class="fas ">
                  0</i></a> </div>
            <div class="col-md-2 " style="border-bottom-width: 2px;margin-bottom: 15px;"><a
                class="btn btn-bg btn-warning form-control" href="{% url 'quy-dinh'%}">Quy Định</a></div>
            <div class="col-md-2 " style="border-bottom-width: 2px;margin-bottom: 15px;"><a
                class="btn btn-bg btn-warning form-control" href="{% url 'che-do'%}">Chế Độ </a></div>
            <div class="col-md-2 " style="border-bottom-width: 2px;margin-bottom: 15px;"><a
                class="btn btn-bg btn-warning form-control" href="{% url 'quy-trinh'%}"> Quy Trình</a></div>
            <div class="col-md-1 " style="border-bottom-width: 2px;margin-bottom: 15px;"><a
                class="btn btn-bg btn-warning form-control" href="{% url 'cong-luong-thuong'%}"> Lương </a></div>

            <div class="col-md-2 " style="border-bottom-width: 2px;margin-bottom: 15px;"><a
                class="btn btn-bg btn-warning form-control" href="{% url 'danh-ba'%}">Danh Bạ</a></div>
          </div>

          <!-- /.card-body -->
        </div>
      </div>

      {%endif%}
      {%if qlns_khachhanglon.xem == True%}
      <div class="card card-outline card-info">
        <div class="card-header">
          <h1 class="card-title">
            <trong> CẬP NHẬT KHÁCH HÀNG LỚN </trong>
          </h1>
          <div class="card-tools">

            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                class="fas fa-minus"></i></button>
          </div>

        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-6 ">
              <a href="{% url 'nhap-khach-hang-lon'%}" class="btn btn-info form-control"> Tạo Form Khách Hàng Lớn </a>
            </div>
            <div class="col-md-6 ">
              <a class="btn btn-success form-control"> Danh Sách Khách Hàng Lớn </a>
            </div>
          </div>

          <!-- ./col -->
        </div>
      </div>
      {%endif%}

      {%if qlns_dexuat.xem == True %}
      {% if cv.sep == True %}
      <div class="card card-outline card-warning">
        <div class="card-header">
          <h1 class="card-title">
            <trong>QUẢN LÝ ĐỀ XUẤT </trong>
          </h1>
          <div class="card-tools">

            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>

        </div>

        <div class="card-body">
          {% include 'dexuat/header_dexuat_sep.html' %}
        </div>

        {% endif %}



        {% if cv.tp == True %}
        <div class="card card-outline card-dark">
          <div class="card-header">
            <h1 class="card-title">
              <trong>QUẢN LÝ ĐỀ XUẤT</trong>
            </h1>
            <div class="card-tools">

              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                  class="fas fa-minus"></i></button>
            </div>

          </div>

          <div class="card-body">
            {% include 'dexuat/header_dexuat_tp.html' %}

            <!-- ./col -->
          </div>
        </div>
        {%endif%}
      </div>
      {%endif%}
  </section>
  <!-- GIẢI CHI  -->
  {%if qlns_giaichi.xem == True%}
  <section class="content">
    <div class="container-fluid">

      {% if cv.sep == True %}
      <div class="card card-outline card-dark">
        <div class="card-header">
          <h1 class="card-title">
            <trong>QUẢN LÝ GIẢI CHI </trong>
          </h1>
          <div class="card-tools">

            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>

        </div>

        <div class="card-body">


          {% include 'giaichi/header_giaichi_sep.html'%}

        </div>
        {% endif %}



        {% if cv.tp == True %}
        <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"></h2>
        <div class="card card-outline card-dark">
          <div class="card-header">
            <h1 class="card-title">
              <trong>QUẢN LÝ GIẢI CHI</trong>
            </h1>
            <div class="card-tools">

              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                  class="fas fa-minus"></i></button>
            </div>

          </div>

          <div class="card-body">
            {% include 'giaichi/header_giaichi_tp.html'%}

            <!-- ./col -->
          </div>
          {%endif%}
        </div>
      </div>
  </section>

{%endif%}
</div>


{% endblock%}
<!-- /.content-wrapper -->