<section class="content">
    <div class="container-fluid">
     


                          <div class="row">
                              <div class="col-lg-3 col-3">
                                  <!-- small box -->
                                  <div class="small-box bg-success">
                                      <div class="inner">
                                          
                                        <h4> ĐẦU VÀO </h4>
                                          <p> Quét Mã Code   </p>
                                      </div>
                                      <div class="icon">
                                          <i class="ion ion-plus"></i>
                                      </div>
                                      <a href="{% url 'quet-barcode'%}" class="small-box-footer"> Xem <i
                                              class="fas fa-arrow-circle-right"></i></a>
                                  </div>
                              </div>
                              <div class="col-lg-3 col-3">
                                <!-- small box -->
                                <div class="small-box bg-info">
                                    <div class="inner">
                                        
                                      <h4>ĐẦU RA </h4>
                                        <p> Quét Mã Code   </p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-plus"></i>
                                    </div>
                                    <a href="{% url 'quet-barcode-out'%}" class="small-box-footer"> Xem <i
                                            class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                              <div class="col-lg-3 col-3">
                                <!-- small box -->
                                <div class="small-box bg-warning">
                                    <div class="inner">
                                        <h4>
                                           ĐẦU VÀO
                                         </h4>
  
                                        <p>Kích Hoạt Casper </p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-edit"></i>
                                    </div>
                                    <a target="blank" href="http://dongsapa.net/admin/BHcassper/serial_casper/" class="small-box-footer"> Xem <i
                                            class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                                <div class="col-lg-3 col-3">
                                    <!-- small box -->
                                    <div class="small-box bg-danger">
                                        <div class="inner">
                                            <h4>
                                               ĐẦU RA
                                             </h4>
      
                                            <p>Kích Hoạt Casper </p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-edit"></i>
                                        </div>
                                        <a target="blank" href="http://dongsapa.net/admin/BHcassper/serial_casper_out/" class="small-box-footer"> Xem <i
                                                class="fas fa-arrow-circle-right"></i></a>
                                    </div>
                           
                              
                             
                          </div>
  
        <!-- ./col -->
    </div>

                     
    </section>