
{%for item in cdpb %}
<div class="card">
    <div class="card-header  card-primary p-2">


        <strong> {{item.tenchedo}}</strong>
        <div class="text-right">
            <span class="time"><i class="far ion-social-octocat"></i>

                Ngày Đăng : {{item.created_at|date:'d - m - y'}}
            </span>
        </div>
        
    </div>
    {%if item.file %}
    <div class="card-body">
       
            
            <a href="{{item.file.url}}" target="_blank"> <strong style="color: crimson;border: cyan;">***File Nội Dung
                    Đính Kèm</strong></a>
           

    </div>
    {%endif%}
    <div class="card-footer">
        <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target=".bd-example-modal-lgpb{{item.id}}">xem chi tiết</button>

        <div class="modal fade bd-example-modal-lgpb{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{item.tenchedo}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {{item.noidung|safe}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Đóng </button>
                    <button type="button" class="btn btn-sm btn-primary">Đã Xem</button>
                  </div>
            </div>
          </div>
        </div>
    </div> 
    
</div>
{%endfor%}
