<br>


<h2 style="text-align: center; color: rgb(5, 107, 27) ;"> THÔNG BÁO CÔNG TY ĐÔNG
    SAPA
</h2>
<br>

<div class="timeline timeline-inverse">
    <!-- timeline time label -->
    {%for item in tbct %}
    {%if item.danhmuc.id == 1 %}
    {% csrf_token %}
    <div class="time-label">
        <span class="bg-danger">
            {{item.created_at}}
        </span>
    </div>
    <div>
        <i class="fas ion-ios-alarm-outline bg-primary"></i>
        <style>
            .daxem {
                background-color: rgb(115, 214, 16);
            }
        </style>
        <div class="timeline-item">
            <span class="time"><i class="far ion-social-octocat"></i> {{item.tacgia}} </span>

            <h3 class="timeline-header" id="trangthaidaxem_{{item.id}}"><a href="#">{{item.tieude}}
                </a></h3>

            <div class="timeline-body">
                
               


            </div>
            <div id="load_viewers{{item.id}}">

            </div>

            <div class="timeline-footer">
                <button type="button" class="btn  btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Xem Chi Tiết
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{item.tieude}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{item.noidung|safe}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button  id="daxemtbct-{{item.id}}" type="button" class="btn btn-primary">Đã Xem</button>
                            </div>
                        </div>
                    </div>
                </div>
                {%if item.id_viewers != None %}
                {%for key,value in item.id_viewers.items %}

                {%if value == nv.id %}
                <script>
                    $("#trangthaidaxem_{{item.id}}").addClass("daxem")
                </script>



                {%endif%}
                {%endfor%}

                {%endif%}
                

            </div>
        </div>

    </div>

    <script>

       
        $('#daxemtbct-{{item.id}}').click(this, function () {
            $('#daxemtbct-{{item.id}}').text('Nhân Viên Đã Xem')
            $('#daxemtbct-{{item.id}}').removeClass('btn-warning')
            $('#daxemtbct-{{item.id}}').addClass('btn-success')

            $.ajax({
                url: "{% url 'load-thong-bao' %}",
                data: {
                    'csrfmiddlewaretoken': $("input[name*='csrfmiddlewaretoken']").val(),
                    'idthongbao': '{{item.id}}',

                },
                success: function (data) {
                    $("#load_viewers{{item.id}}").html(data);

                }

            });
        });


    </script>
    {%endif%}

    {%endfor%}

</div>